dhcp-range=set:{{ network.interface_name }},{{ network.dhcp.start }},{{ network.dhcp.end }},{{ network.netmask }},{{ network.dhcp.lease_time }}
dhcp-option=tag:{{ network.interface_name }},option:router,{{ network.gateway }}
