export PS1="[\[\e[38;5;{{ config.prompt.colors.user }}m\]\u\[\e[38;5;{{ config.prompt.colors.at }}m\]@\[\e[38;5;{{ config.prompt.colors.host }}m\]\h.{{ config.prompt.host_suffix }} \[\e[38;5;{{ config.prompt.colors.path }}m\]\w] \[\033[0m\]$ "
